<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>TackEvents - Sonorizare</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</head>

<body class="service-details-page">

  <header id="header" class="header d-flex align-items-center fixed-top px-3">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <h1 class="sitename">TackEvents</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html#hero" class="nav-indicator">Acasă</a></li>
          <li><a href="index.html#about" class="nav-indicator">Despre</a></li>
          <li><a href="index.html#members" class="nav-indicator">Echipă</a></li>
          <li class="dropdown"><a href="index.html#services" class="active nav-indicator"><span>Servicii</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="solisti-details.html">Solisti</a></li>
              <li><a href="sonorizare-details.html">Sonorizare</a></li>
              <li><a href="lumini-details.html">Lumini</a></li>
            </ul>
          </li>
          <li><a href="index.html#packages" class="nav-indicator">Pachete</a></li>
          <li><a href="index.html#portfolio" class="nav-indicator">Galerie</a></li>
          <li><a href="index.html#contact" class="nav-indicator">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title px-3 px-lg-0 bg-sonorizare" data-aos="fade" style="background-image: url(assets/img/sonorizare.jpg)">
      <div class="dark-image-overlay"></div>
      <div class="dark-video-overlay"></div>
      <div class="heading" style="z-index:20; position: relative;">
        <div class="container py-5">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Sonorizare Details</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
                consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
                quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="serv-details" class="service-details section px-3 px-lg-0">

      <div class="container mb-5">

        <div class="row gy-4">

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list d-lg-flex gap-5">
              <a href="#service1" class="active w-100 py-3 py-lg-2">Sonorizare 1</a>
              <a href="#service2" class="w-100 py-3 py-lg-2">Sonorizare 2</a>
            </div>
          </div>

          <div id="service1" class="col-lg-12" data-aos="fade-up" data-aos-delay="200" style="display: none">
            <div class="row gx-5">
              <div class="col-lg-6 d-flex align-items-center">
                <div class="py-2 px-3">
                  <h2 class="py-3 mb-5"><strong>Sonorizare 1</strong></h2>
                  <p>
                    Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et
                    doloremque
                    consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus
                    vero.
                    Qui omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt
                        voluptatibus.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
                  </ul>
                  <p>
                    Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio
                    iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center">
                <img src="assets/img/sound1.jpg" alt="" class="img-fluid services-img mb-0">

              </div>
              
            </div>


          </div>

          <div id="service2" class="col-lg-12" data-aos="fade-up" data-aos-delay="200" style="display: none;">
            <div class="row gx-5">
              <div class="col-lg-6 d-flex align-items-center">
                <div class="py-2 px-3">
                  <h2 class="py-3 mb-5"><strong>Sonorizare 2</strong></h2>
                  <p>
                    Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et
                    doloremque
                    consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus
                    vero.
                    Qui omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt
                        voluptatibus.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
                  </ul>
                  <p>
                    Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio
                    iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center">
                <img src="assets/img/sound1.jpg" alt="" class="img-fluid services-img mb-0">

              </div>
            </div>


          </div>

          
        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  <footer id="footer" class="footer dark-background" style="border-top: 1px solid #1a1a1a;">
    <div class="container px-3 px-lg-0">
      <div class="row px-3 px-lg-0">
        <div class="col-lg-4 my-3">
          <h3 class="sitename">TackEvents</h3>
          <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
          <div class="social-links d-flex justify-content-start">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-tiktok"></i></a>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 my-4">
          <h5 class="w-100">Scurtături</h5>
          <div class="nav-links d-grid justify-content-start">
            <a href="" class="my-1">Termeni și condiții</a>
            <a href="packages-details.html" class="my-1">Pachete</a>
            <a href="solisti-details.html" class="my-1">Solisti</a>
            <a href="sonorizare-details.html" class="my-1">Sonorizare</a>
          </div>
        </div>
        <div class="col-lg-3 my-4">
          <h5 class="w-100">Informatii utile</h5>
          <div class="nav-links d-grid justify-content-start">
            <a href="https://anpc.ro/ce-este-sal/"><img class="w-100" style="max-width: 300px;" src="assets/img/SAL.svg" ></a>
            <a href="https://ec.europa.eu/consumers/odr"><img class="w-100" style="max-width: 300px;" src="assets/img/SOL.svg" ></a>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="copyright text-center">
          © <span>Copyright</span> <strong class="px-1 sitename">TackEvents 2025.</strong> <span>Toate drepturile rezervate.</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <script>
    $(document).ready(function () {
      function showServiceFromHash() {
        let hash = window.location.hash; // Get the hash from the URL
        if (hash) {
          let targetLink = $('.services-list a[href="' + hash + '"]');
          if (targetLink.length) {
            targetLink.trigger('click'); // Simulate a click on the corresponding link
          }
          setTimeout(()=>{
            document.getElementById("serv-details").scrollIntoView({ behavior: "smooth" });
          },200)

        }else{
          var item1 = '#service1'
          let targetLink = $('.services-list a[href="' + item1 + '"]');
          if (targetLink.length) {
            targetLink.trigger('click'); // Simulate a click on the corresponding link
          }
        }
      }

      $('.services-list a').click(function (e) {
        e.preventDefault();
        // Remove active class from all links and add to the clicked one
        $('.services-list a').removeClass('active');
        $(this).addClass('active');

        // Get the index of the clicked item
        let index = $(this).index() + 1;

        // Hide all service sections
        $('[id^=service]').fadeOut(0, function () {
          // Show the corresponding service section with fade effect
          $('#service' + index).fadeIn(0);
        });

        // Update the URL hash without scrolling
        history.pushState(null, null, $(this).attr('href'));
      });

      // Call the function on page load to handle hash in the URL
      showServiceFromHash();

      // Handle hash change (if user manually changes the hash)
      $(window).on('hashchange', showServiceFromHash);
    });
  </script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>